{% extends "OCCoreBundle::layout.html.twig" %}
{% block title %}{{ parent() }} | Accueil {% endblock %}

{% block body %}

  {% for message in app.session.flashbag.get('info') %}

    <div class="alert alert-info" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  {% if app.user is none %}
  {% else %}
      Bonjour {{ app.user.username }}
  {% endif %}
  <h1>{{title}}</h1>
  <h2>{{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}</h2>


{% endblock %}
